:host::ng-deep {
    .btn-check {
        position: absolute;
        cursor: pointer;
        right: 15px;
        top: calc(50% - 15px);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 2px solid rgb(226, 0, 94);

        &.checked {
            background: rgb(226, 0, 94);

            &::after {
                cursor: pointer;
                font-size: 17px;
                content: '✓';
                font-weight: bold;
                position: absolute;
                display: inline-block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #FFF;
            }
        }
    }
}