<div class="demo-container">
	<div class="demo-viewer">
		<h4>
			Example 02
		</h4>
		<span>Items with unequal heights</span>

        <div class="buttons">
			<button (click)="remove()">ADD <strong>-1000</strong></button>
            <button (click)="add()">ADD <strong>+1000</strong></button>
        </div>

		<ag-virtual-scroll #vs [items]="items" height="350px" [min-row-height]="50" class="box-border">
			<div class="demo-item" *ngFor="let item of vs.items">
				<div class="demo-item-left">
					<img [src]="item.avatar" [style.borderColor]="item.color" [style.backgroundColor]="item.color" />
				</div>
				<div class="demo-item-right" [style.height.px]="item.height">
					<strong [style.color]="item.color">{{item.name}}</strong>
					<p>Phone: {{item.phone}}</p>
					<p>E-mail: {{item.email}}</p>
				</div>
			</div>
		</ag-virtual-scroll>
        <div class="demo-info">
            <div>
                Rendered: <strong>{{vs.numberItemsRendred}}</strong> items (from <strong>{{vs.startIndex + 1}}</strong> to <strong>{{vs.endIndex + 1}}</strong>).
            </div>
            <div>
                Total: <strong>{{items.length}}</strong> items.
            </div>
        </div>
	</div>
    <div class="demo-code">
        <h3>Code</h3>
        <pre><code [highlight]="strCode" [lineNumbers]="true"></code></pre>
    </div>
</div>