:host::ng-deep {
    display: block;

    .demos-title {
        background: linear-gradient(to left, #555, #333);
        color: #FAFAFA;
        text-align: left;
        font-size: 30px;
        padding: 20px 5%;
        margin-bottom: 30px;
        box-shadow: 10px 0 15px rgba(0, 0, 0, 0.4);
    }

    .demos-area {
        width: 100%;
        padding: 0 5%;

        > section {
            padding: 35px 0;

            &:not(:last-child) {
                border-bottom: #CCC 1px solid;
            }
        }
    }
    
    .box-border {
        border: 1px solid #CCC;
        margin-top: 10px;
    }

    .demo-item {
        border-bottom: 1px solid #CCC;
        display: table;
        width: 100%;

        > div {
            display: table-cell;
            vertical-align: middle;
            padding: 10px;

            &:first-child {
                width: 50px;

                > span {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                    border-radius: 100%;
                    background: #555;
                    color: #FFF;
                }
            }
        }

        &:last-child {
            border-bottom: none;
        }

        &.ag-virtual-scroll-odd {
            background: #FAFAFA;
        }
    }

    .demo-container {
        display: table;
        width: 100%;

        .demo-viewer {
            display: table-cell;
            vertical-align: top;
            width: 50%;

            .demo-info {
                padding-top: 10px;
            }

            > button {
                float: right;
                margin-left: 15px;
                margin-top: -20px;
                cursor: pointer;
                border: 1px solid #555;
                color: #555;
                background: #FFF;
                padding: 5px 10px;

                &:hover {
                    background: #555;
                    color: #FFF;
                }
            }
        }

        .demo-code {
            display: table-cell;
            vertical-align: bottom;
            padding-left: 20px;
            padding-bottom: 40px;

            > pre {
                margin: 0;
                padding-top: 10px;
                display: grid;
            }
        }

        @media screen and (max-width: 1050px) {
            .demo-viewer {
                display: table;
                width: 100%;
            }
    
            .demo-code {
                display: table;
                width: 100%;
                padding-top: 15px;
                padding-left: 0;
            }
        }
    }

    .footer {
        width: 100%;
        background: #FFF;
        padding: 10px 15px;
        font-size: 12px;
        color: #777;
        text-align: center;
        box-shadow: -4px 0 20px rgba(0,0,0,.075);
    }
}