:host::ng-deep {
    display: block;

    .demos-title {
        background: linear-gradient(to left, #555, #333);
        color: #FAFAFA;
        text-align: left;
        font-size: 30px;
        padding: 20px 5%;
        margin-bottom: 30px;
        box-shadow: 10px 0 15px rgba(0, 0, 0, 0.4);
    }
    
    .box-border {
        border: 1px solid #CCC;
    }

    .demo-item {
        border-bottom: 1px solid #CCC;
        display: table;
        width: 100%;

        > div {
            display: table-cell;
            vertical-align: middle;
            padding: 10px;

            > p {
                padding: 0;
            }

            &:first-child {
                width: 100px;
            }
        }

        &.ag-virtual-scroll-odd {
            background: #FAFAFA;
        }
    }

    .demos-area {
        width: 100%;
        padding: 20px 5%;

        > section {
            &:not(:last-child) {
                padding-bottom: 50px;
            }
        }
    }

    .demo-container {
        display: table;
        width: 100%;

        .demo-viewer {
            display: table-cell;
            vertical-align: top;
            width: 50%;

            .demo-info {
                padding-top: 10px;
            }
        }

        .demo-code {
            display: table-cell;
            padding-left: 20px;

            > pre {
                margin: 0;
                padding-top: 10px;
                display: grid;
            }
        }

        @media screen and (max-width: 1050px) {
            .demo-viewer {
                display: table;
                width: 100%;
            }
    
            .demo-code {
                display: table;
                width: 100%;
                padding-top: 15px;
                padding-left: 0;
            }
        }
    }

    .footer {
        width: 100%;
        background: #FFF;
        padding: 10px 15px;
        font-size: 12px;
        color: #777;
        text-align: center;
        box-shadow: -4px 0 20px rgba(0,0,0,.075);
    }
}