<div class="demos-title">
	ag-virtual-scroll

	<div>
		<a href="https://github.com/ericferreira1992/ag-virtual-scroll" target="_blank">
			<img src="assets/img/github.svg" width="25px" height="25px"> <span>Github</span>
		</a>
		<span>v. 1.5.2</span>
	</div>
</div>
<div class="demos-area">
	<section>
		<app-list-demo></app-list-demo>
	</section>
	
	<section>
		<app-list-random-height-demo></app-list-random-height-demo>
	</section>
	
	<section>
		<app-list-sticky></app-list-sticky>
	</section>
		
	<section>
		<app-table-demo></app-table-demo>
	</section>
</div>

<div class="footer">
	See the source code into <br/>
	<a href="https://github.com/ericferreira1992/ag-virtual-scroll" target="_blank">Github</a> repository.
</div>