@import '../../../assets/scss/variables.scss';

:host {
    table {
        width: 100%;
        border-spacing: 0;

        thead {
            background: $color;
            color: #FFF;

            > th {
                padding: 10px 10px;
                text-align: left;
            }
        }

        tbody {
            .demo-item {
                display: table-row;

                > td {
                    box-sizing: border-box;
                    border-bottom: 1px solid #CCC;
                    vertical-align: middle;

                    padding: 10px;
                }
            }
        }
    }
}